@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Libre Franklin', sans-serif;
}

.app{
  .title{
    text-align: center;
    font-size: 34px;
  }
}

.image-section{
  display: flex;
  flex-wrap: wrap;
}

.image-container{
  width: calc(100vw/5);
  height: calc(100vh/ 4);

  img{
    width: 100%;
    object-fit: cover;
  }
}


.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 1;
}

.selected-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 90vw;
    height: 90vh;
    object-fit: cover;
  }
}