@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Libre Franklin', sans-serif;
}

.app{
  .title{
    text-align: center;
    font-size: 34px;
  }
}